{% ckan_extends %}

{# You could remove 'free extras' from the package form like this, but we keep them for this example's tests.
  {% block custom_fields %}
  {% endblock %}
#}

{% block package_metadata_fields %}

  <div class="control-group">
    <label class="control-label" for="field-disease">{{ _("Disease") }}</label>
    <div class="controls">
      <select id="field-disease" name="disease" data-module="autocomplete">
        {% for disease in h.disease()  %}
          <option value="{{ disease }}" {% if disease in data.get('disease', []) %}selected="selected"{% endif %}>{{ disease }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
&nbsp;
  {{ super() }}

{% endblock %}
