.circleci
.cmd
.coverage
.dockerignore
.editorconfig
.env
.git
.gitattributes
.github
.gitignore
.idea
.travis.yml
.tx
CHANGELOG.rst
ckan.egg-info
ckanext/idm/deploy/test
data
docker-*.yml
Dockerfile
**/*.pyc
