<div class="first-child box" style="padding: 11px" >
  <h2 class="heading" style="margin-left: 5px">{{ _("Popular links") }}</h2>
  <!-- Make this dynamic from DB or a file -->
  <ul class="media-heading">
    <li><a style="color: black" href="dataset/new">Create a <b>new</b> dataset (requires login)</a></li>
    <li><a style="color: black" href="https://wiki.idmod.org/display/SP/Data+Catalog%3A+How+to+tag+a+dataset" target="_blank">How to <b>tag</b> a dataset (link to Wiki)</a></li>
    <li><a style="color: black" href="https://wiki.idmod.org/display/EMOD/Guidelines+for+ethical+use+of+human+subjects+data+at+IDM" target="_blank">Ethical use of <b>human subjects data</b> (link to Wiki)</a></li>
  </ul>
</div>
<br>
